aiofiles
annotated-types
anyio
async-timeout
beautifulsoup4
blinker
Brotli
certifi
charset-normalizer
click
commonmark
dacite
Deprecated
distro
dnspython
exceptiongroup
fastapi
ffmpy
filelock
Flask
Flask-Cors
fsspec
gradio
gradio_client
gunicorn
h11
httpcore
httpx
huggingface-hub
idna
itsdangerous
jaconv
Jinja2
jiter
joblib
markdown-it-py
MarkupSafe
mdurl
mutagen
numpy
openai
orjson
packaging
pandas
pillow
platformdirs
pycryptodomex
pydantic
pydantic_core
pydub
Pygments
pykakasi
pymongo
python-dateutil
python-dotenv
python-env
python-multipart
python-slugify
pytube
pytz
PyYAML
RapidFuzz
redis
requests
rich
ruff
safehttpx
scikit-learn
scipy
semantic-version
sentry-sdk
shellingham
six
sniffio
soundcloud-v2
soupsieve
spotdl
spotify_dl
spotipy
starlette
syncedlyrics
text-unidecode
threadpoolctl
tomlkit
tqdm
typer
typing_extensions
tzdata
Unidecode
urllib3
uvicorn
websockets
Werkzeug
wrapt
yt-dlp
ytmusicapi
